<template name="matchingGame">
  <div class="mg-board row">
     <div class="mg-sounds col-xs-6">
      {{#each randomSounds}}
        {{> soundCard}}
      {{/each}}
    </div>

    <div class="mg-spectrograms col-xs-6">
      <div class="mg-scrubber-wrap">
      <div class="mg-scrubber"
           data-bind="visible: soundPlaying, style: {left: scrubPos}">
       </div>
      </div>
      
      {{#each reorderedRandomSounds}}
        {{> spectrogramCard}}
      {{/each}}
    </div>

    <div class="mg-audio">
      {{#each randomSounds}}
        <audio class="{{_id}}" src="{{audio}}"></audio>
      {{/each}}
    </div>

  </div>

    <div class="mg-reset row text-center center-block">
      <button class="btn btn-default" data-bind="click: reset, class: {btn-success: foundAll}">
        <span class="glyphicon glyphicon-repeat"></span> Reset
      </button>
    </div>

</template>