.card {
	/*height: 150px;*/
	/*height: 10%;*/
	flex: 1 1 auto;
	display: flex;
	margin: 10px 0;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 0px 2px rgba(0,0,0,0.9);
	transition: box-shadow 0.2s, all 0.1s;
}

.card > .label {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
	color: white;
	text-align: center;
	transition: color 0.2s;
}

.card.playing > .label {
	color: yellow;
}

/*.soundCard.found {
	-webkit-filter: grayscale(100%) brightness(70%);
	box-shadow: inset 0 0 30px;

}
.spectrogramCard.found {
	box-shadow: inset 0 0 50px;
}
.spectrogramCard.found > img {
	-webkit-filter: sepia(40%) brightness(60%);
}*/

.card.found {
	-webkit-filter: grayscale(80%) sepia(40%) brightness(60%);
	box-shadow: inset 0 0 30px;
}
/*.card.found {
	box-shadow: 0 0px 25px rgba(0,180,0,0.9);
}*/
.card.wrongGuess {
	box-shadow: 0 0px 25px rgba(210,0,0,0.9);
}

.soundCard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	/*transition: all 0.05s;*/
}
.soundCard:not(.found):hover {
	-webkit-filter: contrast(120%);
}
.soundCard.found:hover {}

.spectrogramCard {
	-webkit-filter: sepia(30%) contrast(110%);
	background-size: 100% 100%;
}

/*.spectrogramCard > img {
	width: 100%;
	z-index: -1;
	-webkit-user-select: none;
	-moz-user-select: none;
}*/


#demo-row {
	margin-top: 10px;
}

#sounds, #spectrograms {
	height: 90%;
	display: flex;
	flex-direction: column;
}
#board {
	height: 96%;
}

#reset {
	position: absolute;
	bottom: 15px;
	width: 100%;
}

#scrubber {
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: rgb(205, 7, 7);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	z-index: 1;
	pointer-events: none;
}
#scrubber-wrap {
	position: absolute;
	left: 15px;
	right: 15px;
	top: 10px;
	bottom: 10px;
}